<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Le Meilleur coin{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<nav>
    {% include 'menu.html.twig' %}

</nav>

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
