{% extends 'base.html.twig' %}




{% block body %}

<main class="container">
    <div align="center">
        <p><h1>Bienvenue sur <strong>Le Meilleur coin !</strong></h1></p>
    </div>


</main>

{% endblock %}


